@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@300;400&family=Nunito+Sans&family=Poppins&display=swap');

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hero-section img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-section {
    padding: 0;
    font-family: 'lato';
}

.hero-content {
    color: white;
    margin-top: 20rem;
    margin-left: 8rem;
}

.hero-content h1 {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.hero-content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.72);

}

.btn-content {
    text-decoration: none;
    color: black;
    background-color: #F5F5F5;
    margin: 1rem 0;
    padding: .65rem;
}

.arrow-icon {
    background-color: black;
    color: white;
    margin: 1rem 0;
    padding: .65rem;
}

.arrow-icon:hover {
    color: white;
}

.heading_about-india {
    margin: 20rem 0 3.5rem 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height, or 128% */

    text-align: center;
    letter-spacing: 0.06em;



}

.about-india {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */
    text-align: justify;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);
}

.about-india div {
    margin: 0 .5rem;
}

.about-india_content {
    padding-top: 4rem;

}

.places {
    margin-top: 4rem;
    background-color: black;
}


.heading_placestovisit {
    /* text-align: center; */
    justify-content: center;
    margin: 3.5rem 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.cards {
    display: flex;
    justify-content: space-evenly;

}

.card {
    margin: 1rem 2rem;
}

.btn-next {
    text-align: right;
    padding: 2rem 5rem 2rem 0;
    font-size: large;
}

.heading_why-us {

    margin: 3rem 0;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height, or 128% */

    letter-spacing: 0.06em;

    color: #0D0213;
}

.pointers {
    display: flex;
    justify-content: center;
}

.pointers div {
    margin: 2rem 2.5rem;
    text-align: center;
    width: 25rem;
}

.pointers div p {
    padding: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    /* or 159% */

    text-align: center;
    letter-spacing: 0.03em;

    color: rgba(0, 0, 0, 0.8);
}


/* ------------------------------tablet view-------------------------- */

/* @media (min-width:669px) and (max-width:850px)  */
@media screen and (max-width:850px) 
{
    
    .hero-section div img
    {
        width: 100vw;
    }

    .hero-content
    {
        font-size: .75rem;
        margin-top: 6rem;
    }

    .hero-content h1
    {
        font-size: 2.15rem;
    }

    .heading_about-india
    {
        margin: 12rem 0 2rem 0;
    }
    .about-india
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: auto;
        font-size: 1.25rem;
    }

    .about-india div
    {
        margin: 2rem 0;
        padding: 0;
    }

    .about-india img
    {
        width: 65vw;
    }

    .card p,a
    {
        font-size: .8rem;
    }

    .heading_about-india, .heading_placestovisit, .heading_why-us
    {
        font-size: 2.15rem;
    }

    .pointers div
    {
        width: 14rem;
        margin: 1rem;
    }
    .pointers div p
    {
        font-size: 1rem;
        /* text-align: center; */
    }

    .heading_why-us
    {
        margin: 2rem 0;
    }


}


/* ------------------------------mobile view-------------------------- */

@media (min-width:300px) and (max-width:668px) 
{
    .hero-section div img
    {
        height: 50vh;
    }

    .hero-content
    {
        margin-top: 8rem;
        /* margin-left: 4rem; */
        width: 80%;
        margin: 8rem auto;
    }

    .heading_about-india
    {
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    .about-india img
    {
        width: 85vw;
    }

    .about-india 
    {
        width: 85%;
    }

    .cards
    {
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }

    /* .card
    {
        width: 80%;
    } */

    .pointers
    {
        flex-direction: column;
        align-items: center;
    }

}